<h3>Настройка</h3>

<p>Включен
<%#= check_box_tag('settings[improvements_disable_overrun]', checked_value = "0", unchecked_value = "1") %>
<p>
<%=  hidden_field_tag 'settings[id]', 'CustomImprovements' %>

  <%= select_tag('settings[improvements_disable_overrun]',
                 options_for_select([['да', 0], ['нет', 1]]), {include_blank: true, selected: CustomImprovements.load_settings[:improvements_disable_overrun].to_i}) %>

</p>
</p>