<h3>Настройка</h3>
<p>Включен
<p>
  <%= hidden_field_tag 'settings[id]', 'CustomImprovements' %>
  <%= hidden_field_tag 'settings[id_def]', 'status' %>

  <%= select_tag('settings[improvements_disable_status]',
                 options_for_select([['да', 0], ['нет', 1]]), {include_blank: true, selected: CustomImprovements.load_settings[:improvements_disable_status].to_i}) %>
</p>
</p>