#sunstrike_settnigs_div {
    padding: 0 0 15px 30px;
}

#sunstrike_settnigs_title {
    width: 160px;
    display: inline-block;
}
#sunstrike_settnigs_select {
    width: 160px;
    display: inline-block;
}